.accordion {
  &__title {
    font: var(--title-accordion);
    color: var(--c-title);
    transition: var(--transition);
  }

  &__header {
    display: flex;
    column-gap: 0.5rem;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
  }

  &__description {
    font: var(--desc-accordion);
    color: var(--c-desc);
    margin-top: 17px;
    margin-bottom: 23px;
  }

  &__icon {
    position: relative;
    height: max-content;
    transition: var(--transition);
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background: var(--gradient-circle);
      opacity: 0.2;
      pointer-events: none;
    }

    svg {
      defs {
        stop:first-child {
          stop-color: var(--c-primary);
        }
        stop:last-child {
          stop-color: var(--c-arrow);
        }
      }
    }
  }

  &__item {
    position: relative;
    transition: var(--transition);
    background-color: var(--c-white);
    border-radius: 21px;
    border: 1px solid var(--c-border);
    padding: 28px 40px;
    max-width: 850px;
    width: 100%;
    margin-inline: auto;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__content {
    overflow: hidden;
    height: 0;
    transition: var(--transition);
  }

  &__icon svg {
    transition: var(--transition);
  }
  &-open &__icon svg {
    transform: rotate(180deg);
  }
}
